<template>
    <div class = "content">
        <!--Add Event-------------------->
        <div class = "addEvent" style = "text-align: right;" v-if="!isShow">
            <b-button class = "Button" id = "button" @click="ToggleShowAddWin()">
                Add Event
            </b-button>
        </div>
        <transition name="bounce">
        <div v-if="isShow" class ="addfield">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                        Title
                    </span>
                </div>
            <input type="text" class="form-control" placeholder="What are you going to do?" 
            v-model="newTitle">
        </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Detail</span>
                </div>
            <input type="text" class="form-control" placeholder="Give more discription" 
             v-model="newDetail">
        </div>
        <span class = "inline">
        <Datepicker v-model="newEventDate" placeholder="  Date And Time">

        </Datepicker>
        </span>
        <div class = "addButtonGroup">
            <b-button variant="success" @click="AddEvent()">
                OK
            </b-button>&nbsp; &nbsp;
            <b-button variant="danger" @click="ToggleShowAddWin()">
                Cancel
            </b-button>
        </div>
        </div>
        </transition>
    <div class="today">
        <h2>• Today</h2>
        <div v-for="task in getTodayUserData" :key="task">
            <EvenContainer
            :Title=task.title
            :Text=task.description
            :DDate=task.date
            :EventID=task.eventId>
            </EvenContainer>
        </div>
        </div>
        <!-- <div class = "upcoming today" v-if="getLaterDaysUserData.length!=0">
        <h2>• Upcoming</h2>
        <div v-for="task in getLaterDaysUserData" :key="task">
            <EvenContainer
            :Title=task.title
            :Text=task.description
            :DDate=task.date
            :EventID=task.eventId>
            </EvenContainer>
        </div>
        </div> -->
    </div>
</template>
<script>
import EvenContainer from './EventContainer'
import Datepicker from 'vuejs-datepicker';
import getTodo from 'C:\\Users\\nttuser\\Desktop\\MyToDo\\todoapp\\todoapp\\src\\api.js'
export default {
    data() {
    return {
        TodoData:null,
        isShow:false,
        newEventDate:null,
        newTitle:"",
        newDetail:"",
        newId:2,
        }
    },

    methods: {
        ToggleShowAddWin() {
            this.isShow=!this.isShow; //toggle
        },
        AddEvent() {
            if(this.newEventDate!=null&this.newTitle!="") {
                this.$store.commit('AddToUserData',{
                title:this.newTitle,
                text:this.newDetail,
                DDate:new Date(this.newEventDate.getYear(),this.newEventDate.getMonth(),this.newEventDate.getDate()),
                isFinished:false,
                EventID:this.newId
                });
            this.newId++;
            console.log(this.newEventDate.getDate()); //eslint-disable-line
            this.ToggleShowAddWin();
            }
        }
    },

    computed:{
        getTodayUserData() {
            return this.TodoData
        },
        getLaterDaysUserData() {
            return this.$store.getters.getLaterDaysUserData;
        }
    },

    components: {
        EvenContainer,
        Datepicker
    },

    updated() {
        console.log(this.newEventDate); //eslint-disable-line
    },
    created() {
        getTodo().then(data=>{
            this.TodoData = data
        })
    }
}
</script>


<style scoped>
    h2 {
        text-align: left;
        font-size: 30px;
        margin-left: 30px;
    }
    .today{
        padding: 10px;
    }
    .content{
        width:500px;
        text-align: center;
        display:inline-block;
    }
    .addEvent{
        text-align: left;
    }
    .Button{
        color:white;
        background-color: rgb(41, 117, 216);;
    }
    .addfield{
        margin:20px;
    }
    .addButtonGroup{
        margin: 10px;
        text-align: left;
    }
    .inline{
        display: block;
        text-align: right;
    }
    .bounce-enter-active {
        animation: bounce-in .5s;
    }
    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
</style>