<template>
<div class = "">
    <div class="container" v-bind:style="{backgroundColor: bgcolor}" @mouseover="mouseover()" @mouseleave="mouseleave()">
        <div class = "leftSegment">
        <h1>• {{Title}}</h1>
        <div class = "Text">
            {{Text}}
        </div>
        </div>
        <div class = "Date">
            {{DDate}}
        </div>
        <div class = "ButtonSet">
            <b-button variant="success" class = "Button" @click="Done()" :disabled="isDone" >
                Done
            </b-button>
            <b-button variant="danger" class = "Button" @click="deleteEvent()">
                Delete
            </b-button>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return{
            isDone:false,
            normalbg:"rgb(218, 237, 255)",
            bgcolor:"rgb(218, 237, 255)"
        }
    },props:{
        Title:String,
        Text:String,
        DDate:Date,
        isFinished:Boolean,
        EventID:Number,
    },
    methods: {
        deleteEvent() {
            this.$store.state.userData.splice(this.$store.state.userData.indexOf(this.$store.state.userData.filter((obj)=>{
                return obj.EventID === this.EventID;
            })[0]),1)
        },
        Done() {
            if(!this.isDone) {
                this.isDone = true;
                this.bgcolor = "rgb(152, 233, 59)";
            }
        },
        mouseover() {
            if(!this.isDone)
            this.bgcolor = "white";
        },
        mouseleave() {
            if(!this.isDone)
            this.bgcolor = this.normalbg;
        }
    },
    created() {
        if(this.DDate > this.$store.state.currentDate) {
            this.bgcolor = "rgb(238, 234, 197)";
        }
    }
}
</script>
<style scoped>
    .leftSegment{
        display: inline-block;
        padding-right: 80%px;
    }
    .Date{
        padding-top:5px;
        display: block;
        text-align: right;
        color: rgb(98, 140, 180);
    }
    .container{
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
        text-align: left;
        display: inline-block;
        box-shadow: 2px 8px;
        transition: 0.3s;
    }
    .container:hover{
        background-color: white;
        width: 105%;
        height: 105%;
    }
    h1{
        text-align: left;
        font-size: 30px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .Text{
        text-align: left;
        padding-left: 23px; 
    }
    .ButtonSet{
        margin-top: 10px;
        text-align: right;
    }
    .Button{
        margin: 3px;
        font-size: 13px;
        max-height: 35px;
    }
</style>