<template>
<div class = "head">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      Add
    </a>
  </li>
  <a class="nav-link" href="#">
      Done Event
    </a>
  <a class="nav-link" href="#">
      Deleted
    </a>
</ul>
</div>
</template>

<style scoped>
  ul{
    margin: 0px;
    padding: 0px;
    background-color: rgb(41, 117, 216);
  }
  .nav{
    height: 45px;
  }
  .head{
    margin-bottom: 10px;
  }
  a{
    color: white;
  }
  a:hover {
    color : rgb(160, 160, 160);
  }
  .Name {
    color: white;
  }
</style>