<template>
  <div id="app">
    <Head/>
    <Events></Events>
  </div>
</template>

<script>
import Head from './components/Head'
import Events from './components/Events'
export default {
  name: 'app',
  components: {
    Head,
    Events
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
